# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=MY_GEMINI_API_KEY

# MARKET_DATA_BASE_URL: Base URL for Nepse market financial data APIs.
MARKET_DATA_BASE_URL="https://docs.google.com"
